// #define ZMK_POINTING_DEFAULT_MOVE_VAL 800 
// #define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&mo 1>;
            key-positions = <11 12 0 1>;
            layers = <0 4>;
        };

        shift_tab {
            bindings = <&mo 0>;
            key-positions = <12 13 0 1>;
            require-prior-idle-ms = <0>;
            layers = <1>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4
            >;
        };

        FUNCTION {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4

            >;
        };

        NUM {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4

            >;
        };

        ARROW {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4

            >;
        };

        MOUSE {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4

            >;
        };

        SCROLL {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4

            >;
        };

        layer_6 {
            bindings = <
&mkp MB1  &mkp MB2  &kp N1
&kp N2    &kp N3    &kp N4

            >;
        };
    };
};
